<h2> Aca tenemos que usar websockets para mostrar en tiempo real los productos </h2>
<h3> Tenemos que tener un formulario de carga y un boton eliminar </h3>

<div id="contenedorProductos"></div>

{{!-- Se conectan por CDN con socket.io https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js --}}


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/index.js"></script>
