<form action="/user" method="POST">
    <h2>Formulario de Contacto</h2>

    <label for="nombre"> Nombre: </label>
    <input type="text" name="nombre" id="nombre">
    <br><br>

    <label for="correo"> Correo: </label>
    <input type="email" name="correo" id="correo">
    <br><br>

    <label for="pass"> Contraseña: </label>
    <input type="text" name="pass" id="pass">
    <br><br>

    <button type="submit"> Enviar al Servidor </button>
</form>